.link {
  color: rgb(54, 32, 4);
  text-shadow: 2px 2px 2px #f7f5f2;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}
h3 {
  color: rgb(54, 32, 4);
  text-shadow: 2px 2px 2px #f3ccbf;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}
.nav {
  display: flex;
  gap: 60px;
  font-weight: 900;
  /* background-color: #619179; */
  /* background: local; */
  padding: 40px;
  /* text-align: end; */
  justify-content: flex-end;
  /* background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fblur-farm-background&psig=AOvVaw3RyTlc9cIvaUbsb6x3XuvK&ust=1741904582302000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCMDh-rTKhYwDFQAAAAAdAAAAABAx"); */
  /* background-size: auto; */
  background-position: center;
}
.link:hover {
  color: rgb(128, 12, 6);
}
.active {
  color: rgb(196, 72, 67);
  text-decoration: underline;
  text-shadow: 2px 2px 2px 2px #f7f5f2;
}
.button {
  border: 1px dashed rgb(168, 53, 53);
  width: 200px;
  padding: 0;
  padding-bottom: 5px;

  /* display: flex; */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10px; */
  font-size: 30px;
  color: rgb(168, 53, 53);
  font-weight: 800;
}
.button:hover {
  border: 2px solid rgb(54, 32, 4);
  background-color: rgb(250, 238, 238);
  color: rgb(168, 53, 53);
}
